.border-right {
    border-right: 10px solid #ccc;
}

.rounded-full {
    border-radius: 9999px;
}

/* Styling for images inside button and button it self */
.menu-icon-container {
    width: 32px;
    height: 32px;
    background: linear-gradient(#f79e80,#e58565);
}