/* 
  .text-sm is already applyed from "personal.css" file
  .py-2 is applyed from Tailwind.css directly
  .px-1 is applyed from Tailwind.css directly
    ~ Makes width more consistend of buttons
  .border is applyed from Tailwind.css directly
    ~ Border around button
  .font-semibold is applyed from Tailwind
    ~
*/

/* So we don't see dot, behind buttons like a list. */
.type-menu {
  list-style: none;
}
/* Makes the icons round */
.rounded-md {
  border-radius: 0.375rem;
}
/* Makes the casing of buttons round */
.rounded-lg {
  border-radius: 0.5rem;
}
/* Makes icons from black --> white */
.text-white {
  color: #fff;
}
/* Styling for images inside button and button it self */
.menu-icon-container {
  width: 32px;
  height: 32px;
  background: linear-gradient(#f79e80,#e58565);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
/* Styling for whole side navigation bar */
.sidebar {
  color: #444;
  transition: all 0.3s;
  width: 19rem;
  font-size: 16px;
  min-width: 19rem;
  max-width: 19rem;
  height: calc(100vh - 65px);
  overflow-y: auto;
  scrollbar-color: #c4c4c4 #eee;
  scrollbar-width: thin;
  box-shadow: 2px 0 2px 0 rgba(0,0,0,0.06);
}
/* Background styling for buttons */
.main-gradient {
  background: linear-gradient(180deg,#fbfbfb 0,#e4e4e4 49%,#dfdfdf 51%,#f6f6f6);
}

/* Media query for responsive design */
@media (max-width: 991.98px) {
  .sidebar {
    position: fixed;
    background-color: #fff;
    z-index: 103;
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    transform: translateX(-320px);
    transition: filter .2s ease-in,transform .2s ease-in-out;
  }
}
