.sidebar {
    width: 200px;
    background-color: #fff;
  }
  
.content {
  display: flex;
  background-color: #fbfbfb;
  min-height: calc(100vh - 65px);
}

.Full {
  padding: 0.75rem;
  width: 100%;
  display: flex;
}
