body {
  margin: 0;
  font-family: 'Roboto', 'Open-Sans';
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #444;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
